// Delete these styles
html{background:#fff;color:#555;font-family: 'Courier', monospace;}
.wrapper > header h1{font-weight: 400;font-size:113px;line-height:2px;overflow:visible;margin-top:25px;letter-spacing:-3.8px;}
header h1 span{position:relative;top:21px;z-index:-1;letter-spacing:-3.7px;font-size:122px;}
nav{margin-top:50px;}
nav ul{border:0;}
nav > ul > li{width:33.3333%;}
nav ul li a{width:100%;margin:0;background:#2b9884;color:#fff;border:0;border-right:1px solid #fff;}
nav ul li a:hover{background:#268573;color:#fff;}
nav ul ul{width: 33.3333%;margin:0;}
nav ul ul li {width:100%;}
nav ul ul a {min-width:0;}
.content{margin-top:48px}
.content a{color:#ee7147}
.content em{color:#2b9884}
.content header{border-bottom:8px solid #2b9884;}
.content footer p{font-size:20px;color:#666;font-style:italic;text-align:right;}
.content article{margin-bottom: 24px}
.content h1,.content h1 a{text-decoration:none;font-size:32px;margin:-1px 0 28px;font-weight:normal}
.content h1 a:hover{text-decoration:underline}
.content h2{font-size:24px;line-height:30px}
.content p{font-size:20px;line-height:33px;}
.content p.metadata{font-style:italic;margin-top:-36px;color:#777;font-size:15px;margin-bottom:-5px;text-align:right;}
.wrapper > footer p{color:#777;font-size:18px;margin:0}