$header-fixed: false;
$header-height: 100px;

@if $header-fixed {
    body {
        padding-top: $header-height;

        > header {
            position: fixed;
            top:0;
        }
    }    
}

body {
    > header {
        background-color: $header-background-color;
        padding-top: $desktop-padding;
    
        h1 {
          color: $header-text-color;
          font-size: $desktop-base-font-size * 3;
          margin: ($desktop-padding * 2) 0 ($desktop-padding * 2);
    
          @include breakpoint('medium') {
            font-size: $desktop-base-font-size * 4;
          }
        }
    
        nav.main {
            margin: 0 -15px;
            width: calc(100vw - 17px);
        }
    }
}