$margin-size: 30px;

html {
	min-height: 100%;
	overflow-y: scroll;
}

.wrapper {
	margin: 0 auto;
	padding: $margin-size $margin-size 0;
	position: relative;
	width: 1024px;
}
 
@media (min-width: 1024px) {
	html {
		overflow-x: hidden;
	}

	.wrapper {
		> header {
			@include full-width();
		}

		> footer {
			@include full-width();
		}
	}
}