[submodule "src/app/modules/performance"]
	path = src/app/modules/performance
	url = https://github.com/sleepymustache/module-performance
[submodule "src/app/modules/whoops"]
	path = src/app/modules/whoops
	url = https://github.com/sleepymustache/module-whoops.git
[submodule "src/app/sleepy"]
	path = src/app/sleepy
	url = https://github.com/sleepymustache/core.git
	branch = 2.x
[submodule "src/app/modules/navigation"]
	path = src/app/modules/navigation
	url = https://github.com/sleepymustache/module-navigation.git
[submodule "src/app/modules/isi"]
	path = src/app/modules/isi
	url = https://github.com/sleepymustache/isi
[submodule "src/app/modules/sitemap"]
	path = src/app/modules/sitemap
	url = https://github.com/sleepymustache/module-sitemap
